<div class="container">
  <section>
    <form class="form" [formGroup]="searchForm">
      <input formControlName="search" placeholder="enter your query" #search>
      <select class="form_input" formControlName="amount" #amount>
        <option value="" [disabled]="true">quantity per page</option>
        <option *ngFor="let amount of amountArray" [value]="amount">
          {{amount}}
        </option>
      </select>
    </form>
  </section>
  <div class="search-result" *ngIf="(data$ | async) && !(loader$ | async)">
    <a class="search-result_image" *ngFor="let hit of (data$ | async)?.hits" [routerLink]="['/detail']" [queryParams]="{'imgUrl': hit.largeImageURL, 'id': hit.id}">
     <img src="{{hit.previewURL}}" width="200" height="200" /> 
    </a>
    <p *ngIf="(data$ | async)?.total == 0">
      There are no images that suits your criteria
    </p>
  </div>
  <app-loader [isLoading] = "loader$ | async"></app-loader>
  <div *ngIf="(isEmpty$ | async) && (data$ | async)">Please, enter your query</div>
</div>
