<div class="container">
  <section>
    <form [formGroup]="searchForm">

      <input formControlName="search" placeholder="enter your query">

      <select formControlName="amount">
        <option value="" [disabled]="true">quantity per page</option>
        <option *ngFor="let amount of amountArray" [value]="amount">
          {{amount}}
        </option>
      </select>

    </form>
  </section>

  <div class="images" *ngIf="data&&!isLoading">

    <div class="image" *ngFor="let hit of data.hits" (click)="goToDetail(hit.largeImageURL)">
      <img src="{{hit.previewURL}}" width="200" height="200" />
    </div>

    <p *ngIf="data.total==0">
      There are no images that suits your criteria
    </p>
  </div>

  <app-loader [isLoading]="isLoading"></app-loader>

  
  <div *ngIf="isEmpty&&!data">Please, enter your query</div>
</div>
