:host {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_form {
      height: 40px;
      padding: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &_input {
      margin-left: 20px;
    }

    &_search-result {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      &-image {
        margin: 10px;
      }
    }
  }
}
