
  <div *ngIf="(data$ | async) && !(isLoading$ | async)">
    <div class="flex-row" *ngFor="let hit of (data$ | async)?.hits">
      <div class="flex-col detail-info">
        <div class="userName">{{hit.user}}</div>
        <div class="userImage"><img src="{{hit.userImageURL}}" /></div>
        <div><i class="fas fa-heart"></i>{{hit.likes}}</div>
        <div><i class="fas fa-thumbs-up"></i>{{hit.favorites}}</div>
        <div><i class="fas fa-file-export"></i>{{hit.downloads}}</div>
        <div class="tags flex-row">
          <a *ngFor="let tag of (arr$ | async)" [routerLink]="['']" [queryParams]="{search: tag}">
            {{tag}}
          </a>
        </div>
      </div>
      <img src="{{hit.largeImageURL}}" />
    </div>
  </div>
  <app-loader [isLoading]="isLoading$ | async"></app-loader>

